# Topic: print()

1) Using the python print function print any string value, integer value, boolean value, float value in single print command

In [1]:
print("ZEESHAN", 100, 10>5, 100/3)

ZEESHAN 100 True 33.333333333333336

2) Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [2]:
print ("Zeeshan", 100, True, 10.5,sep="-")

Zeeshan-100-True-10.5

3) Using the python print function print any string value, integer value, boolean value, float value in separate print command.
But every value must be space separated and in single line

In [4]:
print("ZEESHAN", end=' ')
print (100, end=" ")
print (True, end=' ')
print (10.5)

ZEESHAN 100 True 10.5

4) Can a python print function take no value to print???

In [1]:
print ()

# TOPIC :Variables in Python Operators

5) One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015.
He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

Note: Create variables from above text and also assign values from the text.

In [4]:
friend_name='Mr. Ahmed'
age=30
Profession="Laywer"
Education="Bachelors in Law"
pass_out_year=2005
Work='The Himalya Associates'
Joining_year=2015
City="Karachi"
Height_ft=5.10
Weight_g=70600
Mon_Income_Rs=200000

6)How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

curr_year=2022
print(curr_year - pass_out_year)
//print ("Mr Ahmed has been + curr_year - year + "Years after his bachelors degree")

In [5]:
curr_year=2022
print(curr_year-pass_out_year)

17

In [ ]:
7) How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

In [6]:
print (curr_year-Joining_year)

7

In [6]:
#type your code here

8)Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars.

In [8]:
INCOME_DOLLARS=Mon_Income_Rs/208
INCOME_DOLLARS

961.5384615384615

9) Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

In [10]:
#type your code here 
income_usd=int(INCOME_DOLLARS)
print(income_usd)

961

10) Print the type of Mr. Ahmed's weight. Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

In [28]:
print(type(Weight_g))
weight_kg=Weight_g//1000
print(weight_kg)

<class 'int'>
70

11) print the year of birth of Mr. Ahmed.

In [11]:
curr_year=2022
yob=curr_year-age
print(yob)

1992

12) Can Rs. 100 be divided equally among 6 students? 
HINT: % operator

In [29]:
print(100%6==0)

False

#Solution prac assin_1.ipynb