#There are two loops in Python i.e For and While

In [2]:
students = ["Asad","Ali","Daad","Hassan"]

In [3]:
for student in students:
    print(student.lower())

asad
ali
daad
hassan

In [4]:
for char in "Pakistan":
    print(char)

P
a
k
i
s
t
a
n

In [1]:
for num in 5001:
    print(num)

TypeError: 'int' object is not iterable

In [8]:
for a in range(10): # range is a generator to generate numbers
    print(a, "Hello")

0 Hello
1 Hello
2 Hello
3 Hello
4 Hello
5 Hello
6 Hello
7 Hello
8 Hello
9 Hello

In [9]:
for a in range(1,5):
    print(a,"Python")

1 Python
2 Python
3 Python
4 Python

In [11]:
for a in range(0,20,2):  #define step in loop (starting, ending-1, step value)
    print(a,"Hello")

0 Hello
2 Hello
4 Hello
6 Hello
8 Hello
10 Hello
12 Hello
14 Hello
16 Hello
18 Hello

In [12]:
for a in range(10,0,-1):  # For decreament
    print(a)

10
9
8
7
6
5
4
3
2
1

# Break, Continue

In [13]:
for student in students: #To terminate loop
    if student.endswith("i"):
        break
    print(student.lower())

asad

In [16]:
for a in range(1,5):
    if a==3:
        break
    print(a,"Python", "ABC")

1 Python ABC
2 Python ABC

In [15]:
for a in range(0,10):
    if a%7==0:
        continue
    print(a)

1
2
3
4
5
6
8
9

Write a program that takes 5 values from user and classify them as odds and even in odds and evens list

In [38]:
odds=[]
evens=[]
for a in range(5):
    a=int(input("Enter a number: "))
    if a%2==0:
        evens.append(a)
        
    else:
        odds.append(a)
        
print(evens,odds)

Enter a number: 1
Enter a number: 2
Enter a number: 3
Enter a number: 4
Enter a number: 5
[2, 4] [1, 3, 5]

## List Comprehension (to write a program in a single line)

In [39]:
#i need a list of odd numbers between 1 to 20
odd=[]
for num in range(1,21):
    if num%2!=0:
        odd.append(num)
print(odd)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [40]:
[a for a in range(1,21) if a%2!=0]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [41]:
[a for a in range(1,21) if a%2==0]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [49]:
evens=[]; odds=[]
[evens.append(a) if a%2==0  else odds.append(a) for a in range(1,21) ]

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [2]:
#Take input in a single line
odds=[]
evens=[]
a=input("Enter a number: ").split(",")

if len(a[0])==0:
    print("Please enter number")
else:
    
    for num in a:
        
        num=int(num)
    
        if num%2==0:
            evens.append(num)
        
        else:
            odds.append(num)
        
    print(evens,odds)

Enter a number: 1,2,3,4
[2, 4] [1, 3]

# While Looop

In [63]:
a=0
while a<10:
    print(a)
    a+=1

0
1
2
3
4
5
6
7
8
9

In [64]:
a=10  #Reverse
while a>0:
    print(a)
    a-=1

10
9
8
7
6
5
4
3
2
1

In [69]:
guest_list=[]
flag=True
while flag:
    guest_name=input("Enter a guest name [or press q to exit]").lower()
    if guest_name=="q":
        flag=False
    else:
        guest_list.append(guest_name)
guest_list

Enter a guest name [or press q to exit]bdfd
Enter a guest name [or press q to exit]dsADSF
Enter a guest name [or press q to exit]DFB
Enter a guest name [or press q to exit]Q

['bdfd', 'dsadsf', 'dfb']

# Dictionary

In [71]:
alist=[]
atuple={}
aset={2}
adict={"name":"SSUET"} # In dictionary there a two things 1) KEY 2) VALUE

In [74]:
type(aset), type(adict)

(set, dict)

In [77]:
student1={"roll":123, "name":"Fahad", "course":"AI", "status":True}

In [82]:
student1["name"]

'Fahad'

In [81]:
for a in student1:
    print(a)

roll
name
course
status

In [83]:
for key in student1:
    print(student1[key])

123
Fahad
AI
True

In [86]:
for key in student1.keys():
    print(key)

roll
name
course
status

In [87]:
for value in student1.values(): 
    print(value)

123
Fahad
AI
True

In [88]:
for key, values in student1.items(): #item return both key and value
    print(key,values)

roll 123
name Fahad
course AI
status True

# Packing or unpacking

In [98]:
alist=[22,33]
#pakiing

In [100]:
asad,fahad=alist
#unpack

In [101]:
asad

22

In [102]:
a=100, 200

In [103]:
a

(100, 200)

In [104]:
q,w=a

In [105]:
q

100

In [106]:
w

200

In [107]:
for key in student1.items(): #tuple
    print(key)

('roll', 123)
('name', 'Fahad')
('course', 'AI')
('status', True)

In [1]:
list=[2,4,6,8,10]
sum(list)

30

In [9]:
num_list=[]
product=1
num=input("Enter a number: ")#.split(",")
for digits in num:
   # num_list=int(num) #.append[num]
    num_list.append(int(digits))
    product =product * (int(digits))
print(product)
#sum(num_list)

Enter a number: 123
6

In [ ]:
123